/*variables CSS*/
:root{
    --card-width:56px;
    --card-height:78px;
    --num-cards:5;
    --card-horizontal-space: 56px;
    --main-margin:15px;
}


body, html {
    height: 100%;
    overflow: hidden; /* Evita el scroll */
}



.handPC, .hand {
    height: var(--card-height);
    background-color: #f0f0f0; 
}

/* Estil per a posicionar les cartes del camp del jugador i del PC */
.field .card-pos-1,.field .card-pos-2, .field .card-pos-3,.field .card-pos-4,.field .card-pos-5,
.fieldPC .card-pos-1,.fieldPC .card-pos-2, .fieldPC .card-pos-3,.fieldPC .card-pos-4,.fieldPC .card-pos-5{
    position: relative;
    left: -28px; /* Col·loca la carta mitja carta més a l'esquerra, ben enquadrada*/
}

.fieldPC, .field {
    height: 30%;
    width: calc(var(--num-cards) * var(--card-width)); /* Amplada del camp del jugador */
    background-color: #e0e0e0; 
}

.field {
    background-color: #d0d0d0; 
    position: absolute;
    bottom: calc(var(--card-height)); /* Col·loca el camp del jugador sobre la mà */
    left: 50%;
    transform: translateX(-50%);
}

.hand {
    background-color: #c0c0c0; 
    position: absolute;
    bottom: 0; /* Col·loca la mà del jugador a la part inferior */
    left: 50%;
    transform: translateX(-50%);
}

.card-container {
    position: absolute;
    display: flex; 
    flex-direction: row; 
    justify-content: center; /* Centra les cartes horitzontalment */
    align-items: center; /* Centra les cartes verticalment */
    gap: var(--card-horizontal-space); /* Espai entre les cartes  */
}

.handPC {
    position: absolute;
    top: 0; /* Col·loca la mà de la màquina a la part superior */
    left: 50%;
    transform: translateX(-50%);
}

.fieldPC {
    position: absolute;
    top: calc(var(--card-height)); /* Col·loca el camp de la màquina sota la mà del PC*/
    left: 50%;
    transform: translateX(-50%);
}


.card{
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
    perspective: 1000px;
    cursor: pointer;
    bottom: 0;/* Col·loca les cartes a la part inferior del div */
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-img{
    height: 100%;
}

.card-back{
    transform: translateY(-10px);
}

.card:hover .card-inner{
    transform: translateY(-10px);
}
.card-front {
    transform: rotateY(0deg); /* La cara de davant està visible */
}

.card-back {
    transform: rotateY(180deg); /* La cara de darrere està amagada */
}
