:root{
    --card-width:112px;
    --card-height:156px;
    --num-cards:5;
    --card-horizontal-space: 112px;
    --main-margin:30px;
}
body{
    height: 100vh;
}

main{
    height: 250px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

/* .card-container{
    margin-top: 30px;
    position: relative;
    width: calc((var(--card-width) * var(--num-cards) / 2) + var(--card-horizontal-space));
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "1 2 3 4 5";
    border: 1px solid black;
} */

.card-container {
    margin-top: 30px;
    position: absolute;
    display: flex; 
    flex-direction: row; 
    justify-content: center; /* Centra les cartes horitzontalment */
    align-items: center; /* Centra les cartes verticalment */
    gap: var(--card-horizontal-space); /* Espai entre les cartes  */
}

.hand{
    bottom: var(--card-height);
}

.field {
    bottom: calc(var(--card-height)*1.75);
}


.card-pos-1{
    grid-area: 1;
    border: 1px solid black;
    background-color: yellow;
}
.card-pos-2{
    grid-area: 2;
    border: 1px solid black;
    background-color: blue;
}
.card-pos-3{
    grid-area: 3;
    border: 1px solid black;
    background-color: green;
}
.card-pos-4{
    grid-area: 4;
    border: 1px solid black;
    background-color: red;
}
.card-pos-5{
    grid-area: 5;
    border: 1px solid black;
    background-color: black;
}
.card{
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
    perspective: 1000px;
    cursor: pointer;

}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-img{
    height: 100%;

}

.card-back{
    transform: translateY(-10px);
}

.card:hover .card-inner{
    transform: translateY(-10px);
}
.card-front {
    transform: rotateY(0deg); /* La cara de davant està visible */
}

.card-back {
    transform: rotateY(180deg); /* La cara de darrere està amagada */
}
